/*!
 * bootScore custom styles
 */

// Add your own code here!
// Because this file is compiled after Bootstrap, you're also able to use Bootstrap mixins for better code.
// Some examples can be found here: https://bootscore.me/documentation/bootstrap-css-sass

/*-----------------------------------------------------------------------------

  ATTENTION! This is the parent-theme's file. Your work will be lost by the 
  next update!

  Wouldn't you prefer to use one of our child themes and be update-safe?

  bootscore-child: 
  https://github.com/bootscore/bootscore-child/archive/refs/heads/main.zip

  bootcommerce-child:
  https://github.com/bootscore/bootcommerce-child/archive/refs/heads/main.zip

-----------------------------------------------------------------------------*/

/* Bootstrap Menu Dropdown on hover */
.dropdown:hover .dropdown-menu {
  display: block;
}
/* Times new roman class */
.tnr {
  font-family: "Times New Roman", Times, serif;
}

.header-1 {
  background-image: url(../img/sly-dizzle-cE6SpYTfqqg-unsplash.jpg);
  background-position: center;
  min-height: 70vh;
}



.info {
  min-height: 20vh;
  padding-top: 3rem;
}

.info {
  h1 {
    text-align: center;
    font-weight: bolder;
    font-family: Arial, Helvetica, sans-serif;
  }
} 

.info > p {
  text-align: center;
  color: rgb(68, 127, 216);
  font-size: larger;
  font-weight: bold;
}


.holes > h1 {
  text-align: center;
  font-weight: bolder;
}

.member {
  min-height: 50vh;
  text-align: center;
  color: white;
  background-image: url(../img/edwin-compton-Z8XlmAj65iM-unsplash.jpg);
  background-position: center;
  padding-top: 250px;
}

.member > h1 {
  padding-bottom: 30px;
}

.dropdown:hover .dropdown-menu {
  display: block;
}

.upcoming-events{

  align-content: center;
  padding-top: 20px;
  min-height: 50vh;
}
.upcoming-events> hr{
margin-left: 600px;
margin-right: 600px;
border: 1px solid #06b234fe;
}